.node {
	font-family: monospace;
	line-height: 1.2rem;
}
.node-children {
	margin-left: 2rem;
}

.node-value.number {
	font-weight: bold;
    color: #1A01CC;
}

.node-value.string {
    color: #0B7500;
}

.node-value.boolean {
	font-weight: bold;
    color: #1A01CC;
}

.node-label {
	cursor: pointer;
}
